

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.h1{
	font-size: 14 px;
	font-weight: bolder;
	color: blue;
	
}

















